
body {
    background:
    radial-gradient(rgb(255, 227, 206) 3px, transparent 4px),
    radial-gradient(rgb(255, 227, 206) 3px, transparent 4px),
    linear-gradient(rgb(255, 255, 255) 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #ffeddb 75px, #ffeddb 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #ffeddb 76px, #ffeddb 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

* {
    /* font-family: 'Heebo', sans-serif !important; */
    font-family: 'Poppins', sans-serif !important;
}